<a href="https://colab.research.google.com/github/PytonDS/DS-Bootcamp-Udemy-KrakowiakP/blob/main/Pandas_Intro_Series_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

Strona biblioteki: https://pandas.pydata.org/
Dokumentacja: https://pandas.pydata.org/pandas-docs/stable/

Podstawowa biblioteka do analizy danych w języku Python.

In [1]:
import pandas as pd

pd.Series

In [3]:
s = pd.Series([3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [5]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [7]:
import numpy as np

s = pd.Series(data=[3, np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [8]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [36]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101', periods=10, freq="A-JAN"))
s

2020-01-31    10
2021-01-31    11
2022-01-31    12
2023-01-31    13
2024-01-31    14
2025-01-31    15
2026-01-31    16
2027-01-31    17
2028-01-31    18
2029-01-31    19
Freq: A-JAN, dtype: int64

In [37]:
list(s.index)

[Timestamp('2020-01-31 00:00:00', freq='A-JAN'),
 Timestamp('2021-01-31 00:00:00', freq='A-JAN'),
 Timestamp('2022-01-31 00:00:00', freq='A-JAN'),
 Timestamp('2023-01-31 00:00:00', freq='A-JAN'),
 Timestamp('2024-01-31 00:00:00', freq='A-JAN'),
 Timestamp('2025-01-31 00:00:00', freq='A-JAN'),
 Timestamp('2026-01-31 00:00:00', freq='A-JAN'),
 Timestamp('2027-01-31 00:00:00', freq='A-JAN'),
 Timestamp('2028-01-31 00:00:00', freq='A-JAN'),
 Timestamp('2029-01-31 00:00:00', freq='A-JAN')]

In [38]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [20]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [40]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [42]:
s.dtypes

dtype('O')

In [43]:
s.shape

(3,)

## PRACA Z OBIEKTEM

In [53]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [47]:
price['CD Projekt']

60

In [49]:
price[1]

60

In [50]:
price.count()

3

In [51]:
price.value_counts()

200     1
60      1
1900    1
dtype: int64

In [52]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [55]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [56]:
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
dtype: float64

In [57]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [59]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

##.apply()

In [60]:
price.apply(lambda x: x * 3.8)

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [61]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [62]:
price_pln = price.apply(lambda x: x * 3.8)
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

## Podstawowe struktury danych: pd.DataFrame

In [66]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [68]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40' : ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [81]:
df1 = pd.DataFrame(data=[['CD Projekt', 'mBank', 'KGHM'], ['Answear', 'Mała spółka', np.nan]], index=['WIG20', 'mWIG40'], columns=['Top1', 'Top2', 'Top3'])
df1

              Top1         Top2  Top3
WIG20   CD Projekt        mBank  KGHM
mWIG40     Answear  Mała spółka   NaN

In [82]:
df1.columns

Index(['Top1', 'Top2', 'Top3'], dtype='object')

In [83]:
df1.index

Index(['WIG20', 'mWIG40'], dtype='object')

In [85]:
df1.values

array([['CD Projekt', 'mBank', 'KGHM'],
       ['Answear', 'Mała spółka', nan]], dtype=object)

In [87]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, WIG20 to mWIG40
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Top1    2 non-null      object
 1   Top2    2 non-null      object
 2   Top3    1 non-null      object
dtypes: object(3)
memory usage: 172.0+ bytes

In [89]:
df1.describe()

              Top1   Top2  Top3
count            2      2     1
unique           2      2     1
top     CD Projekt  mBank  KGHM
freq             1      1     1

In [92]:
df1.describe().T

     count unique         top freq
Top1     2      2  CD Projekt    1
Top2     2      2       mBank    1
Top3     1      1        KGHM    1

## Selekcja kolumn

In [95]:
df = pd.DataFrame(data = [[10, 12, 13], [23, 12 , 10]], index=['first', 'second'], columns=['col_1','col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [100]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [101]:
type(df['col_1'])

pandas.core.series.Series

In [102]:
df[['col_1']]

        col_1
first      10
second     23

In [103]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [105]:
df.columns = ['a', 'b', 'c']
df

         a   b   c
first   10  12  13
second  23  12  10

In [108]:
df.a

first     10
second    23
Name: a, dtype: int64

In [111]:
df['d'] = df.a +df.c
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [112]:
df = pd.DataFrame(data = [[10, 12, 13], [23, 12 , 10]], index=['first', 'second'], columns=['col_1','col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [114]:
df.loc["first"]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [117]:
df.loc['first', 'col_2']

12

In [118]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [116]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64